h1{
  color :aliceblue;
  background-color: rgb(24, 125, 125);
  padding: 45px;
  border-radius: 15px;
  text-align: center;
}
.container{
  margin: 20px solid rgb(179, 19, 19);
}
h2{
  color: aqua;
  font-size: large;
  margin: 4px solid green;
  padding:24px;
  background-color: blueviolet;
text-align: center;
}